<% @users.each do |u| %>
  <div class='container-users'>
    <%= image_tag u.photo %>
    <ul class='frame'>
      <li class='user-name'><%= u.name %></li>
      <li>Number of posts:<%= u.posts_counter %></li>
    </ul>
  </div>
<% end %>