<% @users.each do |u| %>
  <div class='container-users'>
    <%= image_tag 'https://images.unsplash.com/photo-1508921912186-1d1a45ebb3c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80' %>
    <ul>
      <li class='user-name'><%= u.name %></li>
      <li>Number of posts:<%= u.posts_counter %></li>
    </ul>
  </div>
<% end %>