<% User.recent_posts.each do |p| %>
  <div class='user-posts frame'>
   <p class='post-title'><%= link_to p.title, user_posts_path(current_user.id) %></p>
   <p class='post-text'><%= p.text%></p>

   <div class='post-counters'>
     <p class='post-c-counter'>Comments: <%= p.comments_counter %></p>
     <p class='post-l-counter'>Likes: <%= p.likes_counter %></p>
   </div>
  </div>
  <% end %>
 

 